{% extends 'school/base.html' %}

{% block content %}
    <h1 class="text-primary">Your Schools</h1>

    {% if schools %}
        <ul class="list-group">
        {% for item in schools %}
            <li class="list-group-item">
                <h6 class="text-info">Organization Name:</h6>
                <p><a href="{{ item.get_absolute_url }}">{{ item.school_name }}</a></p>
                <h6 class="text-info">Organization Code:</h6>
                <p>{{ item.school_code }}</p>

            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No organizations</p>
    {% endif %}
{% endblock %}